<link rel="stylesheet" href="/static/css/style.css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/bootstrap/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../static/bootstrap/css/estilos.css">


<h1>GESTION DE EMPRESA</h1>
  
    <form class="form-horizontal" action="{% url 'gestionEmpresa' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
	<div class="hijo">
        <table>
        {{ form.as_table }}
        </table>
   
    <input type="hidden" id="codEmpresa" name="codEmpresa" value="{{empresa.codEmpresa}}" />
    <div class="form-group">
    <div class="col-sm-12 text-center">
    <input type="submit" class="btn btn-primary" value="ENVIAR " />
    </div></div></div>


    <div class="col-xs-3">
   <div class="thumbnail">
      <img src="../static/img/archive.png" alt="imagen">
      <div class="caption">
          <h3>
              {{empresa.nomEmpresa}}
          </h3>
              <p>Empresa de prueba</p>
          <p>
          <a href="#" class="btn btn-primary">Abrir</a> 
          <a href="#" class="btn btn-default">Editar</a>
          </p>
      </div>
   </div>
 </div>
    </form>