<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial.scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/bootstrap/css/estilos.css">
</head>

<body>
    <!--HEADER-->
    <header>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">Opcion 1</a></li>
                    <li role="presentation"><a href="#">Opcion 2</a></li>
                    <li role="presentation"><a href="#">Opcion 3</a></li>
                    <li role="presentation"><a href="#">Opcion 4</a></li>
                    <li role="presentation"><a href="#">Opcion 5</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!--SIDEBAR-->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><a href="#">Opciones:</a></li>
            <li><a href="#">Opcion 1</a></li>
            <li><a href="#">Opcion 2</a></li>
            <li><a href="#">Opcion 3</a></li>
            <li><a href="#">Opcion 4</a></li>
            <li><a href="#">Opcion 5</a></li>
            <li><a href="#">Opcion 6</a> </li>
            <li><a href="#">Opcion 7</a></li>
        </ul>
    </div>





    <script src="../static/bootstrap/js/jquery.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>