
<<!-- link rel="stylesheet" href="/static/css/style.css">
<h3> catalogo de cuentas </h3>
 -->  <form class="" action="{% url 'importar-nuevo' %}" method="post">
  <h1>hola  mundo</h1>
  <div class="hijo">
     <label class="">
    Empresa:{{empresa}}
	<!-- Empresa:{{cat.empresa}} -->
			</label>
  
   {% for t in empresa.getTipos %} 
    <div class="">
		{{t}}  
	    <!-- {{t.codTipo}} : {{t.nomTipo}}   -->
    </div>
        {% for r in t.getRubros %}
        <div class="">
			{{r}} 
			<!-- {{r.codRubro}} : {{r.nomRubro}} -->
	    </div>
	         {% for c in r.cuentasPorRubro %}
                <div class="">
			    {{c}} ; grado:{{c.grado}}
			    </div>
	        {% endfor %}
	    {% endfor %}
       
	{% endfor %}		
</div>
                        <!-- <div class="form-group">
                        <div class="col-sm-12 text-center">
                        <a href="" class="btn btn-default">Regresar</a>
                        </div>
                        </div>
                        </form> -->
