{%extends "Base.html"%}

{% load staticfiles%}

{%block css %}
<!--<link rel="stylesheet" href="{% static 'css/style.css' %}"/>-->
{%endblock%}

{%block opcionesmenu %}
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">Registro</a></li>
                    <li role="presentation"><a href="#">Libros</a></li>
                    <li role="presentation"><a href="#">Opcion 3</a></li>
                    <li role="presentation"><a href="#">Opcion 4</a></li>
                    <li role="presentation"><a href="#">Cerrar Sesion</a></li>
                    {%endblock %}


{%block barraLateral%}
                
              
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                    <span class="glyphicon glyphicon-home"></span> {{empresa}}
                    </a> 


                    {%endblock%}

{%block areaTrabajo%}
<h1>Importar catalogo de cuentas</h1>
   
    <form class="form-horizontal" action="{% url 'importar-nuevo' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
	<div class="hijo">
        <table class="table">
        {{ form.as_table }}
        </table>
   
    <input type="hidden" id="codEmpresa" name="codEmpresa" value="{{empresa.codEmpresa}}" />
    <div class="form-group">
    <div class="col-sm-12 text-center">
    <input type="submit" class="btn btn-primary" value="ENVIAR ARCHIVO" />
    </div>
    </div>
    </div>
    </form>

    {%endblock areaTrabajo%}