{% extends "index.html" %}

{% block header %}

{% endblock header %}

{%block sidebar %}
<li><a href="#intro">Nuevo</a></li>
<li><a href="#intro">Editar</a></li>
<li><a href="#intro">Eliminar</a></li>
      
{% endblock sidebar %}

{%block wrapper%}
  <ul class="actions">  
					<li><a href="#one" class="button scrolly">A&ntildeo fiscal</a></li>
				</ul>

                <div id = "main">
                <div class="inner">
                
                <section class="titles">
                <article class="style1">
                <span class="imagen">
                    <img src="images/pic01.jpg" alt=""/>
                </span>
                <a href="other.html">
                    <h2>Empresa 1</h2>
                    <div class="content">
                        <p> Esta es la info</p>
                    </div>
                </a>   
                </article>
                </section>
                
                </div>
                </div>

                <p>
                    <datalist id="anio">
                        <option value="2016">
                        <option value="2015">
                        <option value="2014">        
                    </datalist>

                </p>

{%endblock wrapper%}